/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2014, 11:02:47 AM
    Author     : Administrator
*/


.right-side{
    /* margin-left: 200px; */
    height:100%;
    //min-height: 800px;
    background:white;
}
.content-center{
    //height:auto;
    //height: 800px;
    padding-left: 200px;
    /* min-height: 800px; */
    background: #F2F2F2;
}
.content-row{
    margin-top:10px;
    margin-bottom: 10px;
    float:left;
    width:100%;
}
.form-content-search{
    border:1px black solid;
    float:left;
}
.content-row .mark_quandou{
    background-color: #137CA7;
    float:left;
    width:40px;
    text-align: center;
    
}
.content-row label{
    display:inline-block;
}
.content-row input{
    display:inline-block;
}
.content-row .item-array{
    
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}
.form-content-search-block1{
    float:left;
    width:8%;
    margin-left: 15px;
}
.form-content-search-block2{
    float:left;
    width:5%;
    margin-left: 10px;
}
.form-content-search-block5{
    float:left;
    width:5%;
    margin-left: 10px;
    background-color: #147CA7;
    text-align: center;
}
.form-content-search-block6{
    float:left;
    width:70%;
    padding-left: 10px;
}
.form-content-search-block7{
    float:left;
    width:70%;
    padding-left: 10px;
}
.datatable_id_column>input{
    display: block;
    margin: 0;
}
.datatable_id_column>label{
    display: block;
    margin: -17px 0 0 24px;
    font-size: 15px;
}
.customtable_id_column>input{
    display: block;
    margin: 0;
}
.customtable_id_column>label{
    display: block;
    margin: -17px 0 0 24px;
    font-size: 15px;
}
.customtable{
    width:100%;
    float:left;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 380px;
}
.customtable table{
    width:100%;
}
.customtable table thead{
    background:#147CA7;
    height:50px;
}
.customtable table tbody tr{
    height:30px;
    border-bottom: 1pt solid #CBCBCB;
}
.customtable table thead th,
.customtable table tbody td{  
    width:10%;
}
.customtable table tbody td{  
    height:30px;
}
.customtable .tingyong{
    color:#147CA7;
    cursor:pointer;
}
.customtable .sanchu{
    color:red;
    cursor:pointer;
}
.customtable .huifu{
    color:#7A7A7A;
    cursor:pointer;
}
.customtable table tr{
    cursor:pointer;
}
.table_row_content{
    margin:15px;
    float:left;
}
.table_row_content .content-header{
    float:left;
    margin-bottom:10px;
}
.table_row_content .buttonactions{
    float:right;
}
.table_row_content .block1{
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.table_row_content .block1 .row1{
    background: #F2F2F2;
    float:left;
    width:100%;
    height:30px;
    border:1px #137CA7 solid;
}
.row{
    margin-left: -5px;
    margin-right:-5px;
}
.table_row_content .block1 .row1 .first{
    width:10%;
    text-align: right;
    float:left;
}
.table_row_content .block1 .row1 .second{
    width:20%;
    text-align: left;
    padding-left: 10px;
    float:left;
}
.table_row_content .block1 .row1 .third{
    width:70%;
    text-align: center;
    float:left;
}
.table_row_content .block1 .row2{
    border:1px #137CA7 solid;
    background: #F2F2F2;
    float:left;
    width:100%;
    border-top:0;
    height:30px;
}
.table_row_content .block1 .row2 .first{
    border:1px #137CA7;
    float:left;
    width:10%;
    text-align: right;
}
.table_row_content .block1 .row2 .second{
    border:1px #137CA7;
    float:left;
    width:15%;
}
.table_row_content .block1 .row2 .third{
    border:1px #137CA7;
    float:left;
    width:55%;
}
.table_row_content .block1 .row2 .fourth{
    border:1px #137CA7;
    float:left;
    width:20%;
    text-align: right;
    padding-right: 10px;
}
.table_row_content .block2{
    border:1px #CCCCCC solid;
    float:left;
    width:100%;
    background:white;
}
.table_row_content .block2 .headtitle{
    padding-left: 20px;
    font-size: 16px;
    background: #F2F2F2;
    border:1px #CCCCCC;
    height:30px;
    float:left;
    width:100%;
}
.table_row_content .block2 .content{
    background: white;
    float:left;
    width:100%;
    padding:15px;
}
.table_row_content .block2 .content .headtitle1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.table_row_content .block2 .content table,td,th{
    border:1px #CCCCCC solid;
    text-align: center;
    height:25px;
}
.table_row_content .block2 .content table{  
    border-collapse: collapse;
    width:100%;
}
.table_row_content .block2 .content .firsttable .firstcol {  
    width:20%;
    text-align: right;
    padding-right: 10px;
    background: #F2F2F2;
}
.table_row_content .block2 .content .firsttable .secondcol {  
    width:40%;
    text-align: left;
    padding-left: 10px;
}
.table_row_content .block2 .content .firsttable .thirdcol {  
    width:40%;
    text-align: left;
    padding-left: 10px;
}
.table_row_content .block2 .content .secondtable td{
    width:8%;
    text-align: center;
    height:100px;
    font-size: 12px;
}
.table_row_content .block2 .content .secondtable .smalltd{
    width:5%;
}
.table_row_content .block2 .content .secondtable th{
    background: #F2F2F2;
    width:8%;
    text-align: center;
    height:40px;
    font-size: 12px;
}
.content_row{
    margin-bottom: 10px;
    margin-top: 10px;
    float:left;
    width:100%;
}
.table_row_content .block2 .content .content_row{
    margin-bottom: 5px;
    margin-top: 5px;
    float:left;
    width:100%;
}
.table_row_content .block2 .content .content_row .leftlabel{
    width:10%;
    text-align: left;
    font-weight: 400;
    float:left;
    font-size: 12px;
}
.table_row_content .block2 .content .content_row .labelitem{
    padding-right: 15px;
    font-weight: 400;
    float:left;
    font-size: 12px;
    
}
.list-container{
    background: #fff;
    padding: 15px 18px;
}
.list-filter {
position: relative;
margin-bottom: 20px;

display: inherit;
text-align: center;
}
.filter-along {
padding: 10px;
border: 1px solid #ddd;
}
.dingdan-info{
    padding: 10px;
    border: 1px solid #137BA7;

}
.dingdan-info{
    padding: 5px;
    border: 1px solid #137BA7;

}
.dingdan-info>.row{
    padding:5px;
    border-bottom: 1px solid #137BA7;
}
.last-row{
    border-bottom:0px none !important;
}
.list-filter dl {
border-top: 1px solid #f4f4f4;
margin: 0;
padding: 10px 0;
}

.list-filter dt {
float: left;
}
.list-filter dl.filter-category a.selected {
color: #fff;
background: #137BA7;
}
.list-filter dl.filter-category a:first-child {
width: auto;
padding: 0 5px;
margin-right: 30px;
}

.list-filter dd {
margin-left: 87px;
text-align: left;
}

.list-filter dl.filter-category a {
width: 80px;
margin-right: 0;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.list-filter a {
color: #999;
display: inline-block;
margin-right: 25px;
padding: 0 5px;
text-decoration: none;
line-height: 2em;
}
.content .customtable th{
    background-color: #F2F2F2;
}
.right-side-menu .content{
    background:white;
}
.jingjia_info {
    padding:15px;
}
.jingjia_info .bids{
    width:100%;
    float:left;
}
.jingjia_info .bids .bidcontent .head{
    width:100%;
    height:40px;
    background:#E6E6E6;
    float:left;
    padding-top: 10px;
}
.jingjia_info .bids .bidcontent .head .first{
    width:15%;
    text-align: right;
    float:left;
}
.jingjia_info .bids .bidcontent .head .second{
    width:8%;
    text-align: center;
    float:left;
}
.jingjia_info .bids .bidcontent .head .third{
    width:17%;
    text-align: left;
    float:left;
}
.jingjia_info .bids .bidcontent .head .fourth{
    width:50%;
    text-align: left;
    float:left;
    margin-top: -20px;
}
.jingjia_info .bids .bidcontent .head .fifth{
    width:10%;
    text-align: right;
    padding-right: 10px;
    float:left;
}
.jingjia_info .bids .bidcontent .head .tingyong{
    color:#147CA7;
}
.jingjia_info .bids .bidcontent .head .sanchu{
    color:red;
}
.jingjia_info .bids .bidcontent .content .headline{
    width:100%;
    float:left;
}
.jingjia_info .bids .bidcontent .content .headline .first{
    background: url("../../../assets/images/headline_mark_3.png");
    background-repeat: repeat-x;
    width:100%;
    float:left;
    height:30px;
}
.jingjia_info .bids .bidcontent .content .headline .second{
    background: url("../../../assets/images/headline_mark_2.png");
    background-repeat: repeat-x;
    float:left;
    width:100px;
    height:50px;
    position:relative;
    margin-left: -100%;
    right:-558px;
}
.jingjia_info .bids .bidcontent .content .headline .third{
    background: url("../../../assets/images/headline_mark_1.png");
    background-repeat: repeat-x;
    width:100%;
    float:left;
    height:50px;
    position: relative;
}
.jingjia_info .bids .bidcontent .content .info{
    border:1px #E6E6E6 solid;
    border-top: 0;
    float:left;
    width:100%;
}
.jingjia_info .bids .bidcontent .content .info .info_row{
    float:left;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px; 
}
.jingjia_info .bids .bidcontent .content .info .info_row .first{
    width:20%;
    text-align: left;
    float:left;
    font-size: 12px;
}
.jingjia_info .bids .bidcontent .content .info .info_row .second{
    width:30%;
    text-align: left;
    float:left;
    font-size: 12px;
}
.jingjia_info .bids .bidcontent .content .info .info_row .third{
    width:20%;
    text-align: left;
    float:left;
    font-size: 12px;
}
.jingjia_info .bids .bidcontent .content .info .info_row .fourth{
    width:30%;
    text-align: left;
    float:left;
    font-size: 12px;
}
.jingjia_info .bids .bidcontent .content .footline{
    width:100%;
    float:left;
}
.jingjia_info .bids .bidcontent .foot{
    width:100%;
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.jingjia_info .bids .bidcontent .foot .first{
    width:18%;
    text-align: left;
    float:left;
}
.jingjia_info .bids .bidcontent .foot .second{
    width:82%;
    text-align: left;
    float:left;
}
 .brief_info {
    width:100%;
    float:left;
}
 .brief_info .labels{
    width:40%;
    float:left;
}
 .brief_info .labels .first{
    width:20%;
    float:left;
}
 .brief_info .labels .second{
    width:20%;
    float:left;
}
 .brief_info .labels .third{
    width:20%;
    float:left;
}
 .brief_info .controls{
    width:30%;
    float:left;
}
 .brief_info .controls .first{
   /*background: url("../../../assets/images/btn_arrow_full_left.png");
   width:22px;
   height:22px;*/
}
 .brief_info .controls .prev{
    /*background: url("../../../assets/images/btn_arrow_left.png");
    width:22px;
   height:22px;*/
}
 .brief_info .controls .page_number{
    width:100px;
}
 .brief_info .controls .next{
    /*background: url("../../../assets/images/btn_arrow_right.png");
    width:22px;
   height:22px;*/
}
 .brief_info .controls .last{
    /*background: url("../../../assets/images/btn_arrow_full_right.png");
    width:22px;
   height:22px;*/
}
 .brief_info .controls>div{
    margin-left: 5px;;
    margin-right: 5px;
    float:left;
}
 .brief_info .buttons{
    padding-left:  10px;
    padding-right:  10px;
    width:30%;
    float:left;
}
.bidcontent{
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
}
.table_row_content .block2 .jingjia_info{
    margin-bottom: 20px;
    float:left;
}
.table_row_content .buttonactions .tingyong{
    color:#147CA7;
    cursor: pointer;
}
.table_row_content .buttonactions .sanchu{
    color:red;
    cursor: pointer;
}
.table_row_content .block2 .content .thirdtable .firstcol {  
    width:15%;
    text-align: center;
    background: #F2F2F2;
}
.table_row_content .block2 .content .thirdtable .secondcol {  
    width:15%;
    text-align: center;
}
.table_row_content .block2 .content .thirdtable .thirdcol {  
    width:20%;
    text-align: center;
}
.table_row_content .block2 .content .thirdtable td{
    width:12.5%;
    text-align: center;
    font-size: 12px;
}
.table_row_content .block2 .content .thirdtable .smalltd{
    width:5%;
}
.table_row_content .block2 .content .thirdtable th{
    background: #F2F2F2;
    width:12.5%;
    text-align: center;
    height:25px;
    font-size: 12px;
}
.table_row_content .block2 .content .content_row .leftlabel1{
    width:12%;
    text-align: right;
    float:left;
    padding-right: 10px;
    font-size: 12px;
}
.customtable .top_buttons{
    float:left;
    width:100%;
    margin-bottom: 10px;
}
.table_row_content .block2 .content .fourthtable .firstcol {  
    width:10%;
    text-align: center;
    background: #F2F2F2;
}
.table_row_content .block2 .content .fourthtable .secondcol {  
    width:8%;
    text-align: center;
}
.table_row_content .block2 .content .fourthtable .thirdcol {  
    width:10%;
    text-align: center;
}
.table_row_content .block2 .content .fourthtable td{
    width:8%;
    text-align: center;
    font-size: 12px;
}
.table_row_content .block2 .content .fourthtable th{
    background: #F2F2F2;
    width:12.5%;
    text-align: center;
    height:25px;
    font-size: 12px;
}
.table_row_content_cell1{
    color:#FF780A;
    font-size: 16px;
}