/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2014, 11:02:34 AM
    Author     : Administrator
*/


#bottomnav_menu{
    min-height: 40px;
    background: #0683B1;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
