/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-12, 0:12:35
    Author     : Hgc
*/

.topbar{
    margin-top: 60px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    height:70px;
}
#topbar_datetime{
    text-align: right;
}
.textalignright{
    text-align: right;
}
.topbar_label1{
    width:24%;
    margin:0px;
    padding:0px;
    text-align: right;
    display: table-cell;
}
#topbar_title{
    text-align: center;
    font-size: 36px;
}
.container{
    min-width:1200px;
}
.topnav_item{
    width:12%;
    margin:0;
    text-align: center;
}
.navbar{
    background-color: #0683B1;
    border-radius: 0;
    margin:0;
}
#topnav_menu{
    padding-left: 40px;
    background-color: #0683B1;
    
}
#topnav_menu>ul{
    width:100%;
}
.navbar-nav>li>a{
    color:white;
}
.navbar{
    min-height: 40px;
    box-sizing: border-box;
}
.navbar-nav>li>a:hover{
    background: #0F6082;
}
.sidebar-menu{
    background: #F2F2F2;
    //min-height: 800px;
}
.sidebar-menu>li a:hover{
    //background: #0F6082;
}
#bottomnav_menu{
    min-height: 40px;
    background: #0683B1;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.sidebar-menu>.header-item{
    background: #0683B1;
    color:white;
    text-align: center;
    font-size: 1.5em;
    height:40px;
}
.sidebar-menu .header-item>span{
    padding-top: 8px;
    display:block;
}
.sidebar-menu>li a{
    color:black;
    text-align: center;
    font-size: 1em;
}
.sidebar{
    padding-top:20px;
}

.right-side{
    margin-left: 200px;
    height:auto;
    //min-height: 800px;
}
.content-row{
    margin-top:10px;
    margin-bottom: 10px;
    float:left;
    width:100%;
}
.form-content-search{
    border:1px black solid;
    float:left;
}
.content-row .mark_quandou{
    background-color: #137CA7;
    float:left;
    width:40px;
    text-align: center;
    
}
.content-row label{
    display:inline-block;
}
.content-row input{
    display:inline-block;
}
.content-row .item-array{
    
    margin-right: 10px;
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
}
.floatleftblock{
    float:left;
}
.form-content-search-block1{
    float:left;
    width:8%;
    margin-left: 15px;
}

.form-content-search-block2{
    float:left;
    width:5%;
    margin-left: 10px;
}
.form-content-search-block5{
    float:left;
    width:5%;
    margin-left: 10px;
    background-color: #147CA7;
    text-align: center;
}
.form-content-search-block6{
    float:left;
    width:70%;
    padding-left: 10px;
}
.form-content-search-block7{
    float:left;
    width:70%;
    padding-left: 10px;
}
div.navbar {
    height: 40px;
}

li.topnav_item a {
    height: 40px;
    line-height: 8px;
}
.topnav_item{
    width:12%;
    margin:0;
    text-align: center;
}
#topnav_menu{
    padding-left: 50px;
    background-color: #0683B1;
    
}
#topnav_menu>ul{
    width:100%;
}
.clsMenu{
    display:none;
    border:1px black solid;
    background:#A9A9AA;
    width:100px;
    position:absolute;
}
.clsMenu>ul>li{
    color:#147CA7;
    cursor:hand;
}
.search-box-wrapper {
  z-index: 100;
  
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #333;
  //content: "/\00a0";
  content:">";
  font-family: simsun,serif;
      
}
